.admin-main-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  overflow: hidden;


}

.reservation-title{
  color:#dcca87;
}


