.nav-main-container{
  z-index: 2;
  position: relative;
}
.navbar-toggler-icon{
  display: flex;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

#nav-link {
  color:white;
  font-weight: bold;
  font-size: 0.8em;
}

#nav-link:hover{
  color:#DCCA87;
  transition: -2px 2px ;
}

