.chef-main-container{
  gap :100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:75%;
  height: 75%;
  
  
}



.chef-spoon{
  float: left;
  width: 50px;
}


.about-chef{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.chef-img{
  width:400px; 
}

.chef-title{
  font-weight: bold;
  font-size: 90px;
  color: #dcca87;
}

.chef-name{
  color: #dcca87;
}


@media only screen and (max-width: 600px) {
   
.chef-main-container{
  gap :30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
  
}

.chef-img{
  width:150px; 
}

.chef-title{
  font-weight: bold;
  font-size: 30px;
  color: #dcca87;
}

.quotes{
  width: 30px;
}

.sign-img{
  width: 120px;
}



}