.laurel-main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  background-image: url("/Users/carloscordova/Desktop/restaurant-app/src/assets/logo.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: left 50px top 50px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}


.main-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.laurels-title-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 

}

.laurels-spoon{
  width: 100px;
  height: 50px;
}

.awards-container{
  width: 50%;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 align-items: center;
 text-align: center;

  
}

.awards-container-img{
  width: 50%;
  display: flex;
  flex-wrap: wrap;

}


.awards-img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  height:500px;
  border-radius: 5px;


}

