*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.App{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  background-image: url('./assets/bg.png');
  width: 100vw;
  height: 100vh;
}



